.alert{
    min-width: 140px;
    border-radius: 5px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    cursor: pointer;
}

.alert-success{
    background-color: var(--success-bg-color);
    color: var(--success-text-color);
}

.alert-info{
    background-color: var(--info-bg-color);
    color: var(--info-text-color);
}

.alert-warning{
    background-color: var(--warning-bg-color);
    color: var(--warning-text-color);
}

.alert-error{
    background-color: var(--error-bg-color);
    color:var(--error-text-color)
}
.alert-content{
    display: flex;
    align-items: center;
}
#alert-icon{
    margin-right: 5px;  
}