nav{
    background-color: var(--teal-green);
    color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.logo{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    font-size: 1.2rem;
}
